body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

#navbar {
  width: 750px;
  margin: auto;
}

#navbar ul {
  list-style: none;
  padding-left: 0px;
}

#navbar li {
  display: inline;
}

#navbar a {
  padding: 5px 5px 0px 5px;
  color: #222;
  text-decoration: none;
  font-size: 1.2em;
}

#navbar a.active {
  color: slateblue;
}

#navbar a:first-child {
  padding-left: 0px;
}

#mainContent {
  width: 750px;
  margin: auto;
}

#dynamicContent {
  width: 100%;
}

p.error {
  color: #781F3B;
}


